:root {
  --text-color: #ffffff;
  --unActive-color: #c7c7c7;
  --accent-color: #8e32c6;
  --background-color: #012d63;
  --background: #dcdcdc;
}

/* reset */
body {
  font-family: Roboto, sans-serif, Raleway;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;

  transition: opacity 0.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.header {
  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 0;
  right: 0;

  z-index: 1;
  margin-right: 165px;
  margin-left: 165px;
  border-bottom: 1px solid #000000;
}

.header-container {
  display: flex;
}

.nav {
  display: flex;
}

.logo__link {
  display: block;
  margin-top: 35px;
  margin-right: 150px;
}

.logo {
  width: 100px;
  height: 60px;
}

.nav__list {
  display: flex;
  align-items: center;

  margin-right: 75px;
}

.nav__list--item:not(:last-child) {
  margin-right: 30px;
}

.nav__list--link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  color: #c7c7c7;
}

.language__list {
  display: flex;
  align-items: center;
}

.language__list--item:not(:last-child) {
  margin-right: 20px;
}

.language__list--link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  color: #c7c7c7;
}

.active__link {
  color: #ffffff;
}

/*  ------------------------------------------- Section HERO -----------------------------------*/

.hero {
  height: 950px;
  position: relative;

  background-image: url(./images/hero/hero-back-opt.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  margin-left: 155px;
  margin-right: 645px;
}

.hero__logo {
  width: 160px;
  height: 120px;
}

.underlogo {
  width: 178px;
  height: 86px;

  margin-top: -25px;
  margin-left: 30px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;

  color: #ffffff;
}

.hero__heading {
  width: 640px;

  margin-top: -40px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 192px;

  color: #ffffff;
}

.hero__underHeading {
  width: 540px;

  margin-top: -40px;

  margin-bottom: 12px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 96px;

  color: #ffffff;
}

.hero__text {
  width: 508px;

  margin-bottom: 40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;

  color: #ffffff;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 254px;
  height: 67px;

  border-radius: 10px;
  background-color: var(--accent-color);
}

.hero__button--text {
  width: 132px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.boots {
  position: absolute;
  left: 441px;
  top: 200px;
}
/* ----------------------------------------- section-advances ------------------------------------*/
.section-advances {
  background-image: url(./images/adventure/bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 60px;
}

.img-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 165px;
  margin-right: 140px;
}

.imgg {
  width: 300px;
  height: 470px;
}

.list-item:not(:last-child) {
  margin-right: 100px;
}

/*  section-nike*/
.nike {
  height: 665px;

  padding-bottom: 72px;
  padding-top: 45px;

  background-image: url(./images/bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nike-box {
  margin-left: 160px;
  margin-right: 450px;

  margin-bottom: 80px;

  position: relative;
}

.main-img {
  margin-bottom: 40px;
}

.first-img {
  position: absolute;
  left: 380px;
  top: 100px;
}

.eclipse2 {
  position: absolute;
  left: 250px;
  top: 220px;
}

.eclipse3 {
  position: absolute;
  left: 454px;
  top: 193px;
}

.eclipse4 {
  position: absolute;
  left: 715px;
  top: 73px;
}

.eclipse5 {
  position: absolute;

  left: 612px;
  top: 215px;
}

.broom {
  position: absolute;
  left: 727px;
  top: 57px;
}

.nike-text {
  position: absolute;
  width: 215px;
  height: 40px;
  left: 920px;
  top: 17px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 37px;

  color: #ffffff;
}

.material-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 60px;

  width: 715px;
  height: 85px;

  -webkit-box-shadow: -2px 10px 36px -6px rgba(142, 50, 198, 0.6),
    -2px 13px 36px -6px rgba(214, 0, 192, 0.6);
  -moz-box-shadow: -2px 10px 36px -6px rgba(142, 50, 198, 0.6),
    -2px 13px 36px -6px rgba(214, 0, 192, 0.6);
  box-shadow: -2px 10px 36px -6px rgba(142, 50, 198, 0.6),
    -2px 13px 36px -6px rgba(214, 0, 192, 0.6);

  background: linear-gradient(91.33deg, #8e32c6 15.44%, #d600c0 69.67%);
  border-radius: 15px;
}

.material--list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;

  color: #ffffff;
}

.material--list__item:not(:last-child) {
  margin-right: 20px;
}

/* -----------------------------------REVIEWS---------------------------- */
.email--input {
  padding-left: 5px;
}
/*  */
/* Estilo iOS */
.switch__container {
  margin: 30px auto;
  width: 120px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  border: 1px solid #ffffff;
}

.switch--shadow + label {
  padding: 2px;
  width: 120px;
  height: 60px;

  border-radius: 60px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 9px;
  left: 10px;
  bottom: 6px;
  content: "";
}

.switch--shadow + label:before {
  right: 1px;
  opacity: 0;
  border-radius: 60px;
  transition: background 0.4s;
}

.switch--shadow + label:after {
  width: 40px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
  background-color: #8ce196;
}

.switch--shadow:checked + label:after {
  transform: translateX(60px);
}
